<div class="left">
  <ng-container [ngSwitch]="block.type">
    <mat-icon *ngSwitchCase="'title'">title</mat-icon>
    <mat-icon *ngSwitchCase="'text'">notes</mat-icon>
    <mat-icon *ngSwitchCase="'image'">insert_photo</mat-icon>
  </ng-container>
  <div class="line"></div>
</div>
<ng-container [ngSwitch]="block.type">
  <sgn-article-block-title *ngSwitchCase="'title'" [block]="block"></sgn-article-block-title>
  <sgn-article-block-text *ngSwitchCase="'text'" [block]="block"></sgn-article-block-text>
  <sgn-article-block-image *ngSwitchCase="'image'" [block]="block"></sgn-article-block-image>
</ng-container>
<div class="right"></div>