<ng-container *ngIf="edit">
  <mat-form-field [floatLabel]="'never'">
    <textarea matInput rows="1" cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1"
      [(ngModel)]="block.link" placeholder="Вставьте URL изображения..."></textarea>
  </mat-form-field>
  <div>
    <img src="{{block.link}}">
  </div>
  <mat-form-field [floatLabel]="'never'">
    <textarea matInput rows="1" cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1"
      [(ngModel)]="block.text" placeholder="Введите подпись к изображению..."></textarea>
  </mat-form-field>
</ng-container>

<ng-container *ngIf="!edit">
  <img src="{{block.link}}">
  <p class="caption">
    {{caption}}
  </p>
</ng-container>