/* You can add global styles to this file, and also import other style files */

@import "/vars.scss";
@import "/font-faces.scss";
@import "/animations.scss";
@import "/ui-kit.scss";
@import "mat-styles.scss";

html,
body {
    height: 100%;
    min-width: 100%;
    overflow: hidden;
    margin: 0;
}

menu {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Lava 3", serif;
    font-size: var(--basic-font-size);
    overflow-y: auto;
    animation: fade-in 1.5s cubic-bezier(0.895, 0.03, 0.685, 0.22);
}

.basic-container {
    max-width: 1200px;
    margin: auto;
}

.container {
    @extend .basic-container; // box-sizing: border-box;
    width: 100%;
    padding: 0 var(--double-padding);
}

sgn-root {
    width: 100%;
}

.fade-in {
    animation: fade-in var(--transition);
}

p,
textarea {
    line-height: var(--h2-font-size);
}