h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Formular', sans-serif;
    font-weight: bold;
    color: var(--title-color);
}

h1 {
    font-size: var(--h1-font-size)
}

h2 {
    font-size: var(--h2-font-size)
}

h3 {
    font-size: var(--h3-font-size)
}

button {}

a {
    &:link {}
}

a.unstyled {
    text-decoration: none;
    color: var(--text-color);
}

p {
    max-width: 600px;
    line-height: 1.6em;
}