:root {
    --title-color: black;
    --text-color: gray;
    --alt-text-color: lightgray;
    --bg-color: white;
    --primary-color: rgb(53, 242, 255);
    --second-color: rgb(66, 255, 176);
    --single-padding: 20px;
    --double-padding: 40px;
    --desktop-font-size: 16px;
    --mobile-font-size: 11px;
    --h3-font-size: 1.618em;
    --h2-font-size: 2.618em;
    --h1-font-size: 4.236em;
}