.list-item {
    display: flex;
    flex-direction: row;

    &:focus-within {
        background: var(--alt-text-color);
    }
}

sgn-article-block {
    flex: auto;
}

.actions {
    display: flex;
    flex-direction: column;
    flex: none;
}