nav {
    // display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    background: var(--title-color);
    transition-duration: .5s;
    z-index: 101;
    &.on-top {
        background: transparent;
    }
    &.mobile-opened {
        height: 100vh;
    }
}

menu.main {
    padding: 0 var(--double-padding);
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    list-style-type: none;
    color: var(--bg-color);
    .menu-item {
        display: flex;
        align-items: center;
        padding: var(--single-padding);
        font-family: 'Formular';
        cursor: pointer;
        transition: var(--transition);
        color: var(--bg-color);
        &.selected {
            background: var(--bg-color);
            color: var(--title-color);
        }
        &:hover {
            // background: var(--gradient); // transform: scale(1.2);
            background: var(--primary-color); // transform: scale(1.2);
        }
    }
    div.logo {
        display: flex;
        align-items: center; // padding-left: var(--double-padding);
        padding-left: 0;
        transition-duration: .5s;
        font-size: var(--h3-font-size);
        font-weight: bold;
        &.on-top {
            font-size: var(--h1-font-size);
        }
        &:hover {
            transform: scale(1.12);
        }
        img {
            margin-right: var(--single-padding); // height: 20px;
            // transition-duration: .5s;
            height: 0.8em; // height: 80px;
        }
    }
    .icons {
        display: flex;
        align-items: stretch;
    }
}

menu.drop-down {
    // display: none;
    // min-height: 200px; // opacity: 0;
    // transform: translateY(-100%);
    background: var(--bg-color);
    transition-duration: .5s;
    box-shadow: var(--shadow);
    z-index: 100;
    &.opened {
        // display: flex; // opacity: 1;
        // transform: translateY(0);
    }
}