<nav [class.on-top]="menu.transparentAtTop && scroll.onTop && !menu.mobileOpened"
  [class.mobile-opened]="vp.mobile && menu.mobileOpened">
  <menu class="main basic-container">
    <div class="logo" [class.on-top]="scroll.onTop"><img src="/assets/img/logo.png"> СГН</div>
    <ng-container *ngIf="vp.desktop">
      <div class="menu-item" (mouseenter)="onEnter('enrollee')" [class.selected]="selectedItem == 'enrollee'">
        Абитуриенту</div>
      <div class="menu-item" (mouseenter)="onEnter('news')" [class.selected]="selectedItem == 'news'">Новости</div>
      <div class="menu-item" (mouseenter)="onEnter('departments')" [class.selected]="selectedItem == 'departments'">
        Структура</div>
    </ng-container>
    <!-- <div>Поиск</div> -->
    <div class="icons">

      <a class="menu-item unstyled" href="/search" (mouseenter)="onEnter('search')"
        [class.selected]="selectedItem == 'search'">
        <mat-icon>search</mat-icon>
      </a>
      <!-- <div>
        <mat-icon>input</mat-icon>
      </div> -->
      <div class="menu-item" *ngIf="vp.mobile" (divck)="menu.mobileOpened = !menu.mobileOpened">
        <!-- TODO: Add custom icon with animations -->
        <mat-icon>{{menu.mobileOpened ? 'clear' : 'menu'}}</mat-icon>
      </div>
    </div>
  </menu>
  <!-- <menu class="mobile basic-container" *ngIf="vp.mobile && menu.mobileOpened">
    <div>Абитуриенту</div>
    <div>Новости</div>
    <div>Структура</div>
  </menu> -->
</nav>
<menu class="drop-down basic-container" [class.opened]="selectedItem" [ngSwitch]="selectedItem">
  <sgn-basic-dropdown class="fade-in" *ngSwitchCase="'enrollee'" [items]="enrolleeSubmenuItems"></sgn-basic-dropdown>
  <sgn-news-dropdown class="fade-in" *ngSwitchCase="'news'"></sgn-news-dropdown>
  <sgn-basic-dropdown class="fade-in" *ngSwitchCase="'departments'" [items]="departmentsSubmenuItems">
  </sgn-basic-dropdown>
  <sgn-search-dropdown class="fade-in" *ngSwitchCase="'search'"></sgn-search-dropdown>
  <sgn-basic-dropdown class="fade-in" *ngSwitchCase="'sign-in'"></sgn-basic-dropdown>
  <!-- Some points
  <div>iimg</div>
  some text
  <button></button> -->
</menu>